<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/cc765fbe-9fba-4213-8362-cd45db0315ca/resourcegroups/DDS/providers/Microsoft.Web/sites/Tp20170418022549</ResourceId>
    <ResourceGroup>DDS</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tp20170418022549.azurewebsites.net/Account/Login</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>tp20170418022549.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Tp20170418022549</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Tp20170418022549</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:ddsusers.database.windows.net,1433;Initial Catalog=Usuarios;Integrated Security=False;Persist Security Info=False;User ID=loopmeagain;Password=Casacasacasa123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:ddsusers.database.windows.net,1433;Initial Catalog=Usuarios;Persist Security Info=False;User ID=loopmeagain;Password=Casacasacasa123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;Trusted_Connection=False;Encrypt=True;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Tp.Models.ApplicationDbContext, Tp" MigrationConfiguration="Tp.Migrations.Configuration, Tp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:ddsusers.database.windows.net,1433;Initial Catalog=Usuarios;Persist Security Info=False;User ID=loopmeagain;Password=Casacasacasa123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;Trusted_Connection=False;Encrypt=True;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:ddsusers.database.windows.net,1433;Initial Catalog=Usuarios;Persist Security Info=False;User ID=loopmeagain;Password=Casacasacasa123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;Trusted_Connection=False;Encrypt=True;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:ddsusers.database.windows.net,1433;Initial Catalog=Usuarios;Persist Security Info=False;User ID=loopmeagain;Password=Casacasacasa123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;Trusted_Connection=False;Encrypt=True;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:ddsusers.database.windows.net,1433;Initial Catalog=Usuarios;Persist Security Info=False;User ID=loopmeagain;Password=Casacasacasa123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;trusted_connection=True;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:ddsusers.database.windows.net,1433;Initial Catalog=Usuarios;Persist Security Info=False;User ID=loopmeagain;Password=Casacasacasa123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;trusted_connection=True;trusted_connection=True;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:ddsusers.database.windows.net,1433;Initial Catalog=Usuarios;Persist Security Info=False;User ID=loopmeagain;Password=Casacasacasa123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:ddsusers.database.windows.net,1433;Initial Catalog=Usuarios;Persist Security Info=False;User ID=loopmeagain;Password=Casacasacasa123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>